<nav class="navbar navbar-dark bg-dark">
    {{#link-to "index"
        class="navbar-text"
    }}
        {{fa-icon "home" class="left"}}
        Phorest challenge app
    {{/link-to}}
</nav>

<div class="app-body">
      {{outlet}}
</div>
