<h3>Clients management</h3>

<p>What do you want to do today?</p>
<div class="wrapper">
    {{#link-to "clients"
        tagName="button"
        class="btn btn-primary"
    }}
        Create a voucher
        {{fa-icon "shopping-bag" class="right"}}
    {{/link-to}}
</div>
